* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F9EEFF;
    background-image: url("assets/images/background-pattern-desktop.svg");
    background-repeat: repeat-x;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-size: 1rem;
    font-family: "WorkSans", sans-serif;
}

.container {
    width: 50%;
    height: auto;
    background-color: #FFF;
    padding: 2.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
}

@font-face {
    font-family: 'WorkSans';
    src: url('assets/fonts/WorkSans-VariableFont_wght.ttf');
    font-weight: 100 900;
        font-style: normal;
        font-display: swap;
}

h1 {
    background-image: url('assets/images/icon-star.svg');
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 3rem;
    font-size: 4rem;
    color: #2f1533;
}

h2 {
    font-size: 1.2rem;
    color: #2f1533;
}

.question {
    border-bottom: 1px solid #f9f0ff;
    padding: 1rem;
}

.faq-question {
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    background-image: url('assets/images/icon-plus.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.faq-question:hover {
    color: #A12CCB;
}

.active {
    background-image: url('assets/images/icon-minus.svg');
     background-repeat: no-repeat;
     background-position: right center;
}

.faq-answer {
    display: none;
    padding: 10px;
    border-top: none;
    margin-bottom: 5px;
    color: #A79BA9;
}

@media (max-width: 1024px) {
    .container {
        width: 80%;
        max-width: 600px;
        height: auto;
    }
    .faq-question {
        padding-right: 3rem;
    }
}

.attribution {
      font-size: 11px;
      text-align: center;
      padding-top: 1rem;
  }

  .attribution a {
      color: hsl(228, 45%, 44%);
  }
